#identity {
    text-align: right;
    background-color: rgb(185, 224, 241);
}

body{
    margin : 0;
    height: 100vh;
    display : flex;
    flex-direction : column;
}

.head {
    background-color: rgb(185, 224, 241);
    height: 13%;
    text-align: center;

    border: 1px solid black;
}

.container {
    flex: 1;
    display: flex;
}

.navigation {
    float: left;
    border: 1px solid black;
    background-color: bisque;
    width: 15%
}

.navigation_bottom {
    padding-left: 35px;
}

.main_sector {
    float: left;
    border: 1px solid black;
    flex: 1;
    background-color: rgb(178, 241, 220);
    padding-left: 20px;
    line-height: 2;


}


h2 {
    padding-left: 60px;
    padding-top: 20px;
}

ol {
    line-height: 3;
}
